*{
    font-family: Arial;
}
.banerlewy{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 55%;
    font-size: 120%;
}
.banersrodek{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 25%;
}
.banerprawy{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 20%;
    text-align: right;
}
.stopkalewa{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 55%;
    font-size: 120%;
}
.stopkasrodek{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 25%;
}
.stopkaprawa{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 20%;
    text-align: right;
}
.glowny{
    background-color: snow;
    padding: 70px;
}
a{
    border-style: dotted;
    border-width: 2px;
    border-color: saddlebrown;
    background-color: snow;
    color: saddlebrown;
    padding: 20px;
    line-height: 100px;
}
ol{
    list-style-type: lower-alpha;
}
#banery{
    display: flex;
}
.glowny{
    display: flex;
    flex-direction: column;
}
#stopki{
    display: flex;
}